<h2>Användare</h2>
<section>
	<ul id="users">
		<% @users.each do |user| %>
			<li>
				<%= link_to user.name, user %>
			</li>
	<% end %>
	</ul>
	<%= link_to "Skapa ny användare", new_user_path, class: "btn btn-primary" %>
</section>
