$primary-text-color: #444;
$flash-notice-color: #DBFFDD;
$flash-alert-color:  #FFE1DE;
$positive-response: green;
$negative-response: #e67b7b;
$negative-response-block: lighten($negative-response, 30%);

$cart-proced-color: #44a948;

$primary-background-color: #F5F5F5; //menu
$secondary-background-color: #237CBE; //containers
$fieldset-color: lighten($secondary-background-color, 50%);
$product_show-color: lighten($secondary-background-color, 50%);
$admin_product_show-color: darken($product_show-color, 10%);

$button-color-admin: #72b1d2;

$subdued-color: darken($primary-background-color, 20%);

