$primary-text-color: #444;
$flash-notice-color: #DBFFDD;
$flash-alert-color:  #FFE1DE;
$positive-response: green;
$negative-response: #e67b7b;
$negative-response-block: lighten($negative-response, 30%);

$primary-background-color: #F5F5F5;
$secondary-background-color: #237CBE;
$fieldset-color: lighten($secondary-background-color, 50%);
$product_show-color: lighten($secondary-background-color, 50%);
$admin_product_show-color: darken($product_show-color, 10%);



$button-color-admin: #72b1d2;

$subdued-color: darken($primary-background-color, 20%);




/*
$secondary-text-color: #777;
$primary-link-color: #2E6AA0;
$secondary-link-color: #FFF;
$errors-background-color: #FFC;
$errors-text-color: #DC3D3D;
$accent-color: #FAFBFF;
*/

