// Place all the styles related to the cartrows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#empty_cart  {
	font-size: 16px;
  text-decoration: none;
  background-color: red;
  color: #000000;
  padding: 8px;
  border: 1px solid pink;
	border-radius: 6px;

}

#to_checkout  {
  font-size: 16px;
  text-decoration: none;
  background-color: green;
  color: #000000;
  padding: 8px;
  border: 1px solid light-green;
	border-radius: 6px;
}