body{
	padding-top: 55px;
}

#header {
	background: #F0F0F0;
}



#footer-main {
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 12px;
	background: #F0F0F0;
	clear: both;
}

