// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

div.product_show {
  margin: 0 0 10px 500;
  padding: 10px 20px 10px 20px;
  background-color: $product_show-color;
  border: 0;
  box-shadow: #aaa 0 0 8px;
  float: right;

	img {
		float: left;
		margin: 0 20px;
		width: 500px;
	}

	h1 {
		float: none;
	}
}

div.admin {
  margin: 20px 0 10px 0;
  padding: 10px 20px 10px 20px;
  background-color: $admin_product_show-color;
  border: 0;
  box-shadow: #aaa 0 0 8px;
  float: right;
}

.flash {
  color: $primary-text-color;
  border-radius: 4px;
  padding: 10px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  box-shadow: #ffc 0 0 4px;
  
  &.notice {
    background-color: $flash-notice-color;
  }

  &.alert {
    background-color: $flash-alert-color;
  }
}

input[type="submit"]  {
  font-size:     16px;
  padding:       8px;
  border-radius: 6px;
  box-shadow:    0px;
  border: 1px solid light-grey;
}

a.product {
  text-decoration: none;
}

.low_stock {
  color: red;
}

.normal_stock {
}

.paginate {
  margin-top: 45px;
  text-align: center
}

article.product-admin {
  margin-top: 15px;
}

article.product {
  margin-top: 25px;
}